@import "src/styles/globals";


.ContentContainer {
  padding: 40px 0;
  min-height: 100vh;
}

.ant-menu-light .ant-menu-item {
  color: $font-color;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item:hover {
  background-color: #e1e0e0 !important;
}

.ant-layout .ant-layout-sider, .ant-menu-light, .ant-layout-footer {
  background: $primary-color;
  box-shadow: $shadow-light;
  border: 0 !important;
}

.ant-layout .ant-layout-sider {
  margin: 40px 0;
}

.ant-menu-item-group-title {
  color: $font-color !important;
}
