.ListContainer {
  display: block;
  margin: 0 auto;
  width: 60%;
}

.GridContainer {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.SpinnerContainer {
  position: absolute;
  left: 50%;
  top: 20%
}
