/*-- APP --*/
$app-background-color: #dadbdc;


/*-- MAIN COLORS --*/
$primary-color: #ccc;
$secondary-color: rgba(204, 204, 204, 0.27);


/*-- FONTS COLORS --*/
$font-color: #0e0e0e;
$font-color-decorator: #0c468d;


/*-- DECORATORS --*/
$shadow-light: 0 4px 12px rgba(0, 0, 0, 0.2);
