.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
